global
    maxconn 50000
    user haproxy
    group haproxy

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    maxconn 3000

frontend db-master
    bind 192.168.1.108:5432
    default_backend db-master-backend

backend db-master-backend
    balance roundrobin
    server server1 192.168.1.108:30006

frontend db-replica
    bind 192.168.1.108:5433
    default_backend db-replica-backend

backend db-replica-backend
    balance roundrobin
    server server1 192.168.1.111:30007

frontend redis-master
    bind 192.168.1.108:6379
    default_backend redis-master-backend

backend redis-master-backend
    balance roundrobin
    server server1 192.168.1.108:30008

frontend redis-slave
    bind 192.168.1.108:6380
    default_backend redis-slave-backend

backend redis-slave-backend
    balance roundrobin
    server server1 192.168.1.108:30009
    server server2 192.168.1.111:30009
